Windows filter=lfs diff=lfs merge=lfs -text
build filter=lfs diff=lfs merge=lfs -text
build/Linux filter=lfs diff=lfs merge=lfs -text
build/MacOS filter=lfs diff=lfs merge=lfs -text
build/Windows filter=lfs diff=lfs merge=lfs -text
